@using MovFileIntegrityChecker.Web.Services
@inject LocalizationService L
@inherits LayoutComponentBase

@Body

<div id="blazor-error-ui" data-nosnippet>
    @L["UnhandledError"]
    <a href="." class="reload">@L["Reload"]</a>
    <span class="dismiss">🗙</span>
</div>